# Recommendations: Part 1

In this notebook you will learn how to make recommendations using Neo4j. 

Execute the code to import the libraries (remember to unset Reset all runtimes before running):

In [1]:
from py2neo import Graph
import pandas as pd

import matplotlib 
import matplotlib.pyplot as plt

plt.style.use('fivethirtyeight')
pd.set_option('display.float_format', lambda x: '%.3f' % x)
pd.set_option('display.max_colwidth', 100)

Update the cell below to use the IP Address, Bolt Port, and Password, as you did previously.

In [3]:
# Change the line of code below to use the IP Address, Bolt Port, and Password of your Neo4j database instance.
# graph = Graph("bolt://<IP Address>:<Bolt Port>", auth=("neo4j", "<Password>")) 
 
graph = Graph("bolt://localhost:7687", auth=("neo4j", "1234"))

##  Finding popular authors

Since you will be making collaborator suggestions find authors who have written the most articles so that you have some data to work with.

In [4]:
popular_authors_query = """
MATCH (author:Author)
RETURN author.name, size((author)<-[:AUTHOR]-()) AS articlesPublished
ORDER BY articlesPublished DESC
LIMIT 10
"""

graph.run(popular_authors_query).to_data_frame()

        author.name  articlesPublished
0  Peter G. Neumann                 89
1  Peter J. Denning                 80
2    Moshe Y. Vardi                 72
3  Pamela Samuelson                 71
4      Bart Preneel                 65
5    Vinton G. Cerf                 56
6    Barry W. Boehm                 53
7      Mark Guzdial                 49
8  Edwin R. Hancock                 47
9     Josef Kittler                 46

Pick one of these authors...

In [5]:
author_name = "Peter G. Neumann"

Retrieve the articles they've published and how many citations they've received:

In [6]:
author_articles_query = """
MATCH (:Author {name: $authorName})<-[:AUTHOR]-(article)
RETURN article.title AS article, article.year AS year, size((article)<-[:CITED]-()) AS citations
ORDER BY citations DESC
LIMIT 20
"""

graph.run(author_articles_query,  {"authorName": author_name}).to_data_frame()

,article,year,citations
0,Security by obscurity,2003,2
1,"The foresight saga, redux",2012,2
2,Risks of automation: a cautionary total-system perspective of our cyberfuture,2016,1
3,Robust open-source software,1999,1
4,Are dependable systems feasible,1993,1
5,Crypto policy perspectives,1994,1
6,Risks of National Identity Cards,2001,1
7,Information system security redux,2003,1
8,The foresight saga,2006,1
9,"Computers, ethics, and values",1991,1
10,Identity-Ralated Misuse.,1997,0
11,Alternative passwords,1994,0
12,Animal crackers,1993,0
13,Accidental financial losses,1992,0
14,Anticipating disasters,2005,0
15,Survivable systems,1992,0
16,Friendly fire,1994,0
17,Computers: boon or bane?,2001,0
18,Y2K update,1998,0
19,Responsibilities of technologists,2005,0

Find the author's collaborators:

In [7]:
collaborations_query = """
MATCH (:Author {name: $authorName})<-[:AUTHOR]-(article)-[:AUTHOR]->(coauthor)
RETURN coauthor.name AS coauthor, count(*) AS collaborations
ORDER BY collaborations DESC
LIMIT 10
"""

graph.run(collaborations_query,  {"authorName": author_name}).to_data_frame()

                  coauthor  collaborations
0             Susan Landau               3
1         Lauren Weinstein               3
2         Whitfield Diffie               3
3  Steven Michael Bellovin               2
4       Rebecca T. Mercuri               2
5               Matt Blaze               2
6           Herbert S. Lin               1
7        Alfred Z. Spector               1
8       David Lorge Parnas               1
9        Lawrence Robinson               1

How would you suggest some future collaborators for this author? One way is by looking at the collaborators of their collaborators!

In [8]:
collaborations_query = """
MATCH (author:Author {name: $authorName})<-[:AUTHOR]-(article)-[:AUTHOR]->(coauthor),
      (coauthor)<-[:AUTHOR]-()-[:AUTHOR]->(coc)
WHERE not((coc)<-[:AUTHOR]-()-[:AUTHOR]->(author)) AND coc <> author      
RETURN coc.name AS coauthor, count(*) AS collaborations
ORDER BY collaborations DESC
LIMIT 10
"""

graph.run(collaborations_query,  {"authorName": author_name}).to_data_frame()

               coauthor  collaborations
0        John Ioannidis              10
1         Scott Bradner               9
2  Angelos D. Keromytis               8
3           John Kelsey               7
4      Virgil D. Gligor               5
5           Ran Canetti               4
6         Peter Wolcott               4
7        William Aiello               4
8      David K. Gifford               4
9    Gerald Jay Sussman               4

Each of these people have collaborated with someone that Peter has worked with before, so they might be able to do an introduction.

## Exercise

1. Can you find the top 20 suggested collaborators for 'Brian Fitzgerald' instead of 'Peter G. Neumann'?
2. How many of these potential collaborators have collaborated with Brian's collaborators more than 3 times?

Keep the results of this exercise handy as they may be useful for the quiz at the end of this module.